# Ignorar arquivos de certificados e arquivos de conceitos
/CERTIFICADOS/
/SECAO_1/Conceitos/
/SECAO_2/Conceitos/
/SECAO_3/Conceitos/
/SECAO_4/Conceitos/
/SECAO_5/Conceitos/
/SECAO_6/Conceitos/
/SECAO_7/Conceitos/
/SECAO_8/Conceitos/
/SECAO_9/Conceitos/
/SECAO_10/Conceitos/
